
            h1{
           color:blueviolet;
            }
            
            body{
            background-color:turquoise;
            }
            .header{
            
            display: flex;
            justify-content: center;
           
            }
            .grid{
            
            display: flex;
            flex-wrap: wrap;
            justify-content: right;
            
            }
            .items{
            
            display:flex;
            justify-content: space-evenly;
            border-bottom: chocolate;
            }
            .footer{
            
            display: flex;
            justify-content: flex-end;
            
            }
            p,ol{
                color: black;
                font-style: italic;
                
                text-align: left;
                
            }
